html,
body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

dialog {
  text-align: center;
  background-image: url("Images/Start_Image.jpg");
  width: 300px;
  height: 200px;
  background-size: 342px;
}

canvas.fullscreen {
  width: 100vw;
  height: 100vh;
}

#vui {
  position: absolute;
  width: 100vw;
  height: 100vh;
  bottom: 10px;
  padding: 5px;
  border: 3px;
  border-color: black;
  color: black;
  cursor: none;
}

#gameOverScreen {
  background-image: url("Images/Car_Crash.jpg");
  background-size: 500px;
  color: black;
  display: none;
  justify-content: center;
  height: 400px;
  width: 470px;
  top: 50%;
  left: 50%;
  position: absolute;
  margin: auto;
  transform: translate(-50%, -50%);
  text-align: center;
  border: solid black;
  border-width: 5px;
  padding: 10px;
}

#gameOverScreen h1 {
  font-size: 48px;
  margin: 6px;
}

#gameOverScreen p {
  font-size: 26px;
  margin: 0px;
}

#gameOverScreen button {
  width: 100px;
  height: 45px;
  font-size: 22px;
  transform: translate(0%, 100%);
}

:disabled {
  background: white;
  color: black;
}

#runtimeStats {
  position: absolute;
  top: 50%;
  width: auto;
  background: white;
  color: black;
  right: 10%;
  border: solid black;
  border-width: 5px;
  padding: 3px;
}

#highscore {
  position: absolute;
  left: 10%;
  background: white;
  color: black;
  border: solid black;
  border-width: 5px;
  padding: 3px;
}